/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    line-height: 1.5em;
}

/* Tag Styles */

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 5px;
}

a:hover {
    border-bottom: 2px solid #cfcf20;
    animation-name: link-hover;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
}

body {
    opacity: 0.9;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
}

header, footer {
    text-align: center;
    padding: 35px;
}

header {
    text-transform: uppercase;
    font-size: 1.3em;
}

footer {
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
}

/* Transforms */

@keyframes link-hover {
    100% {
        background-color: #0008;
    }
}
