/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('base-styles.css');

/* Tag Styles */

body {
    background: linear-gradient(90deg, #0c045f, transparent, #0c045f) center top, url("../img/starry.gif") center top no-repeat;
}

header, footer {
    text-align: center;
    padding: 35px;
}

header {
    text-transform: uppercase;
    font-size: 1.3em;
}

footer {
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
}

nav {
    text-align: center;
    padding: 30px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 15px;
}

/* ID Styles */
#the-doge {
    height: 500px;
    width: 350px;
    margin: 30px auto 0px auto;
    border-radius: 20%;
    box-shadow: 0 0 50px 50px #fff8 inset, 0 0 10px 10px #0008;
    background: url("../img/dogenut.jpg") center center / cover no-repeat;
}

/* Media Queries */

@media (max-width: 1000px) {
    body {
        background-size: 1000px;
    }

    nav ul li {
        display: block;
    }
}

@media (max-width: 500px) {
    #the-doge {
        height: 400px;
        width: 275px;
    }
}