/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('base-styles.css');

/* Tag Styles */

body {
    background: linear-gradient(90deg, #0c045f, transparent, #0c045f) center top, url("../img/starry.gif") center top no-repeat;
    background-size: 100% 100vh;
}

nav {
    text-align: center;
    padding: 30px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 15px;
}

/* ID Styles */

#the-doge {
    height: 500px;
    width: 350px;
    margin: 30px auto 0px auto;
    border-radius: 20%;
    box-shadow: 0 0 50px 50px #fff8 inset, 0 0 10px 10px #0008;
    background: url("../img/dogenut.jpg") center center / cover no-repeat;
}

/* Media Queries */

@media (max-width: 768px) {
    nav ul li {
        display: block;
        font-size: 1em;
    }

    body {
        background-size: 100% 110vh;
    }
}

@media (max-width: 550px) {
    #the-doge {
        height: 325px;
        width: 200px;
    }

    body {
        background-size: 100% 120vh;
    }
}

@media (max-width: 355px) {
    body {
        background-size: 100% 160vh;
    }
}